body {
    background-color: rgb(202, 202, 202);
}

h1, h2, h3 {
    text-align: center;
    font-size: 44px;
    margin: 60px 10px 40px 0;
}

h2 {
    font-family: 'Cinzel Decorative', cursive;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    margin: 10px 10px 5px 100px;
}




/*Seting the background image*/
#img1 {
    filter: blur(2px);
    width: 100%;
}

.container {
    position: relative;
    color: rgb(0, 0, 0);
}

/*Positioning the text over the background image*/
#article1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

#article2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#article3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Creating the drop down menu*/
.navbar {
    background-color: black;
    width: 100%;
}

.navbar a, .dropbutton {
    display: inline-block;
    padding: 30px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
}

.dropbutton, .dropdown-content {
    background-color: black;
    border: none;
    min-width: 125;
}

.navbar a:hover, .dropbutton:hover {
    background-color: gray;
}

#aboutmenu {
    float: right;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.activemenuitem {
    background-color: rgb(124, 191, 211);
}

